#main-kitty{
  margin:auto;
  width:100%;
}
#main-kitty-mobile{
  display:none;
}
#Main-kitty-mobile-float{
  display:none;
}
.layered-pics{
  width:100%;
  display:none;
}
.title{
  font-size:4em;
  text-align:center;
  margin-bottom:.5em;
  margin-top:1em;
}
.main-p{
  font-size:2.5em;
  text-align:left;
  width:60%;
  margin:auto;
}
.kat{
  font-size:1.5em;
  height:27em;
  width:25%;
  margin-right:2%;
  margin-left:20%;
  margin-top:3em;
  padding:.75em;
  float:left;
  background-color:rgb(230,230,230);
}
.title-p {
  color:#00897f;
  font-weight:bold;
  text-align:center;
  font-size:2em;
  text-transform:uppercase;
}
.mini-p{
  text-align:center;
  font-size:2em;
}
.mavis{
  font-size:1.5em;
  height:27em;
  width:25%;
  margin-left:2%;
  margin-right:20%;
  margin-top:3em;
  padding:.75em;
  float:right;
  background-color:rgb(230,230,230);
}
.orange-kitty1 {
    border-radius:50%;
    margin:.25em;
    width:25%;
}
.orange-kitty2{
  border-radius:50%;
  margin:.25em;
  width:25%;
}
.orange-kitty3{
  border-radius:50%;
  margin:.25em;
  width:25%;
}
.thecats{
  clear:both;
  padding-top:1.25em;
  width:80%;
  margin:auto;
  text-align:center;
}
.get-in-touch{
  background-color:rgb(230,230,230);
  text-align:center;
  font:sans-serif;
  font-size:2em;
  width:100%;
  height:18.75em;
  padding-top:.625em;
}
.business-hours{
  text-align:left;
  width:23%;
  float:left;
  background-color:white;
  padding:1.25em;
  margin-left:20%;
  margin-top:1em;
  margin-right:2.5%;
  margin-bottom:2em
}
.contact-info{
  text-align:left;
  width:23%;
  float:right;
  background-color:white;
  padding:1.25em;
  margin-left:2.5%;
  margin-top:1em;
  margin-right:20%;
  margin-bottom:2em
}
.responsive-break{
  display:none;
}
.blue-bottom{
  font-size:1.75em;
  color:#00897f;
  margin-bottom:1em;
  text-transform:uppercase;
}
.map-pic{
  width:100%;
}
.footer{
  color:white;
  height:1.75em;
  background:#00897f;
  width:100%;
  padding-top:.5em;
  padding-bottom:.5em;
  text-align:center;
  font-size:1.5em;
}
@media(max-width: 2380px){
  .kat{
    font-size:1.25em;
  }
  .mavis{
    font-size:1.25em;
  }

}
@media(max-width: 2160px){
  .business-hours{
    width:26%;
    margin-left:17%;
  }
  .contact-info{
    width:26%;
    margin-right:17%;

  }

}
@media(max-width: 1950px){
  .kat{
    width:30%;
    margin-left:15%;
  }
  .mavis{
    width:30%;
    margin-right:15%;
  }
}
@media(max-width: 1885px){
  .business-hours{
    width:30%;
    margin-left:13%;
  }
  .contact-info{
    width:30%;
    margin-right:13%;

  }
@media(max-width: 1800px){
  .business-hours{
    width:32%;
    margin-left:10%;
  }
  .contact-info{
    width:32%;
    margin-right:10%;

  }
}
@media(max-width: 1625px){
  .kat{
    width:35%;
    margin-left:10%;
  }
  .mavis{
    width:35%;
    margin-right:10%;}
  .responsive-break{
      display:inline;
    }
  .business-hours{
    width:25%;
    margin-left:10%;
    margin-right:none;
  }
  .contact-info{
    width:25%;
    margin-right:10%;
    margin-left:none;
  }
}
@media(max-width: 1490px){
  .kat{
    width:40%;
    margin-left:5%;
  }
  .mavis{
    width:40%;
    margin-right:5%;
  }
  .business-hours{
    width:35%;
    margin-left: 5%;
  }
  .contact-info{
    width:35%;
    margin-right: 5%;
  }
}
@media(max-width: 1226px){
  .kat, .mavis {
    height:30em;
  }
}
@media(max-width: 1100px){
    .kat, .mavis {
      height:31em;
    }
    .business-hours{
      margin-left:3%;}
    .contact-info{
      margin-right:3%;
    }
  }
@media(max-width: 1030px) {
  .orange-kitty1{
    display:none;
  }
  .kat, .mavis{
    padding-top:2em;
    width:70%;
    height:22em;
    float:none;
    margin:auto;
    margin-top:2em;
  }
  .main-p{
    width:80%;
  }
  }
@media(max-width: 950px) {
  .desktop-only{
    display:none;
  }
  .business-hours{
    float:none;
    width:60%;
    margin:auto;
    text-align:center;
    margin-top:1em;
  }
  .contact-info{
    float:none;
    width:60%;
    margin:auto;
    text-align:center;
    margin-top:2em;
    margin-bottom:1em;
  }
  .responsive-break{
    display:none;
  }
  .get-in-touch{
    height:22em;
  }
  .kat{
    width:90%;
  }
  .mavis{
    width:90%;
  }
}
@media(max-width: 875px) {
  .the-cats{
    margin:center;
    width:60%;
  }
  .main-p{
    text-align:center;
    width:90%;
  }
  .responsive-break{
    display:inline;}
  .get-in-touch{
    height:25em;
  }
}
@media(max-width: 800px){
  .title{
    font-size: 3em;
    margin-bottom: .5em;
  }
  }
@media(max-width: 780px){
  .orange-kitty1{
    display:none;
  }
  .orange-kitty2{
    display:none;
  }
  .orange-kitty3{
    width:45%;
  }
  .thecats{
    width:100%;
    clear:both;
    padding-top:20px;
    text-align:center;
  }
  .desktop-only{
    display:none;
  }
  .kat, .mavis{
    width:90%;
  }
}
@media(max-width: 720px){
  .kat, .mavis{
    height:26em;
  }

}
@media(max-width: 680px){
  .contact-info{
    width:85%;
    margin-top:0em;
  }
  .business-hours{
    width:85%;
    margin-top:0em;
  }
  .get-in-touch{
    background-color:white;
    height: 22em;
  }
}
@media(max-width: 610px){
  .kat, .mavis{
    height: 28em;
  }
  .title{
    font-size:2.5em;
  }
}
@media(max-width: 560px){
  .kat, .mavis{
    height: 30em;
    font-size: 1.25em;
  }
  .title{
    font-size:2.25em;
  }
}
@media(max-width: 500px){
    .kat, .mavis{
      height: 32em;
    }
    .main-p{
      font-size:2em;
    }
    #Main-kitty{
      display:none;
    }
    #Main-kitty-mobile{
      display:inline;
      position:relative;
      z-index: 1;
    }
    #main-kitty-mobile-float{
      display:inline;
      position:absolute;
      z-index: 2;
    }
    .get-in-touch{
      height:20em;
    }
    .layered-pics{
      display:inline;
    }
}
@media(max-width: 460px){
  .kat, .mavis{
        height: 35em;
  }
  .contact-info, .business-hours{
    font-size: .9em;
  }
  .get-in-touch{
    height:17em;
  }
}
@media(max-width: 430px){
  .kat, .mavis{
        height: 37em;
        font-size:1.15em
  }
  .contact-info, .business-hours{
    font-size: .75em;
  }
@media(max-width: 388px){
  .kat, .mavis{
        height: 39em;
        font-size:1em;
  }
@media(max-width: 350px){
  .contact-info, .business-hours{
    font-size: .6em;
  }
  .get-in-touch{
      height:13em;
    }

  }
  .main-p{
    font-size: 1.5em;
    }
  .title{
    font-size:1.5em;
  }
  }

}
