body {
  margin: 0;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px)


#cat-titude{
  text-align:center;
  font-size:20px;
  text-color:rgb(28,213,200);
}
#main-kitty{
  width:1000px;
}

.title-p {
  color:rgb(48,213,200);
  font-weight:bold;
  text-align:center;
  font-size:20px;
}

.kat, .mavis{
    width:300px;
    border:0px;
    padding:10px;
    margin:auto;
    tex-color:rgb(28,213,200);
    background-color:rgb(211,211,211);
  }

.mini-p{
  text-align:center;
  font-size:20px:}

}

}
  #splash{
}
.main{
  text-align:center;
  font-size:20px;
  margin-bottom:20px
}
.main-p{
  width:500px;
  border:0px;
  padding:100px;
  margin-left:150px;
  margin-right:150px;
}
